<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <h1><%= @cocktail.name %></h1>
          <% @cocktail.doses.each do |dose| %>
          <%= dose.description %>
          <%= dose.ingredient.name %>
          <%= link_to 'Delete dose', dose_path(dose), method: :delete %>
          <br>
        <% end %>
      </div>
  </div>
  <%= link_to " Add dose" , new_cocktail_dose_path(@cocktail), class: "btn btn-primary"  %>
  <%= link_to " Back to index" , cocktails_path, class: "btn btn-primary"  %>
</div>


